services:
  # ====Dockerized-NorLab dependencies=============================================================

  vaul-dependencies-core-main:
    extends:
      file: "../global/docker-compose.global.yaml"
      service: global-service-builder-config
    pull_policy: build
    build:
      context: .
      dockerfile: Dockerfile.core
      args:
        BASE_IMAGE: ${DN_HUB:?err}/dockerized-vaul-base-image-ros2-clean
        BASE_IMAGE_TAG: ${DN_IMAGE_TAG:?err}


  # ....dependencies-core..........................................................................
  vaul-dependencies-core:
    extends:
      service: vaul-dependencies-core-main
    image: ${DN_HUB:?err}/dockerized-vaul-dependencies-core:${DN_IMAGE_TAG:?err}
    depends_on:
      - vaul-dependencies-core-main

  # ....dependencies-prompt........................................................................
  vaul-dependencies-prompt:
    extends:
      service: vaul-dependencies-core
    build:
      dockerfile: Dockerfile.prompt
      args:
        BASE_IMAGE: ${DN_HUB:?err}/dockerized-vaul-dependencies-core
    environment:
      DN_ACTIVATE_POWERLINE_PROMT: false
      DN_CONTAINER_NAME: IamInteractive
    container_name: IamInteractive
    image: ${DN_HUB:?err}/dockerized-vaul-dependencies-prompt:${DN_IMAGE_TAG:?err}
    depends_on:
      - vaul-dependencies-core

  # ....dependencies-python-science-stack..........................................................
  vaul-dependencies-python-science-stack:
    extends:
      service: vaul-dependencies-core-main
    build:
      dockerfile: Dockerfile.python-science-stack
      args:
        BASE_IMAGE: ${DN_HUB:?err}/dockerized-vaul-dependencies-prompt
    image: ${DN_HUB:?err}/dockerized-vaul-dependencies-python-science-stack:${DN_IMAGE_TAG:?err}
    depends_on:
      - vaul-dependencies-prompt

  # ....dependencies-ros2-vaul-custom..............................................................
  vaul-dependencies-ros2-vaul-custom-main:
    extends:
      service: vaul-dependencies-core-main
    build:
      dockerfile: Dockerfile.ros2-dn-vaul-custom
      target: ros2-vaul-custom-install
      args:
        BASE_IMAGE: ${DN_HUB:?err}/dockerized-vaul-dependencies-python-science-stack
    depends_on:
      - vaul-dependencies-python-science-stack

  vaul-dependencies-ros2-vaul-custom-opencv-requirements:
    extends:
      service: vaul-dependencies-ros2-vaul-custom-main
    build:
      target: opencv-requirements
    depends_on:
      - vaul-dependencies-ros2-vaul-custom-main

  vaul-dependencies-ros2-vaul-custom-opencv-build:
    extends:
      service: vaul-dependencies-ros2-vaul-custom-main
    build:
      target: opencv-build
    depends_on:
      - vaul-dependencies-ros2-vaul-custom-opencv-requirements

  vaul-dependencies-ros2-vaul-custom-opencv-install:
    extends:
      service: vaul-dependencies-ros2-vaul-custom-main
    build:
      target: opencv-install
    depends_on:
      - vaul-dependencies-ros2-vaul-custom-opencv-build

  vaul-dependencies-ros2-vaul-custom:
    extends:
      service: vaul-dependencies-core-main
    build:
      target: vaul-dependencies-final
    image: ${DN_HUB:?err}/dockerized-vaul-dependencies-ros2-vaul-custom:${DN_IMAGE_TAG:?err}
    depends_on:
      - vaul-dependencies-ros2-vaul-custom-opencv-install


  # ....dependencies-ros2-custom...................................................................
  vaul-dependencies-ros2-custom-main:
    extends:
      service: vaul-dependencies-core-main
    build:
      dockerfile: Dockerfile.ros2-dn-custom
      args:
        BASE_IMAGE: ${DN_HUB:?err}/dockerized-vaul-dependencies-ros2-vaul-custom
    depends_on:
      - vaul-dependencies-ros2-vaul-custom

  vaul-dependencies-ros2-custom-tester:
    extends:
      service: vaul-dependencies-ros2-custom-main
    build:
      target: test
    depends_on:
      - vaul-dependencies-ros2-custom-main

  vaul-dependencies-ros2-custom:
    extends:
      service: vaul-dependencies-ros2-custom-main
    build:
      target: final
      tags:
        - ${DN_HUB:?err}/dockerized-vaul-dependencies-full:${DN_IMAGE_TAG:?err}
    image: ${DN_HUB:?err}/dockerized-vaul-dependencies-ros2-custom:${DN_IMAGE_TAG:?err}
    depends_on:
      - vaul-dependencies-ros2-custom-tester

#  # ....dependencies (full)........................................................................
#  vaul-dependencies-full:
#    extends:
#        service: vaul-dependencies-ros2-custom
#    image: ${DN_HUB:?err}/dockerized-vaul-dependencies-full:${DN_IMAGE_TAG:?err}
#    depends_on:
#      - vaul-dependencies-ros2-custom
