# Portable Network Graphics
*.png

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

*.drawio
drawio/*
visual/*

# Excluded directory
/scratches/

# Excluded files
!/dockerized-norlab-scripts/build_script/build_all.log
