
# ====Dockerized-NorLab============================================================================

# ....Dev required.................................................................................
/utilities/tmp/dockerized-norlab-project-mock

# ....DNA common...................................................................................
**/.dockerized_norlab_project/dn_container_env_variable/
/dockerized-norlab-tools/dn_container_env_variable/
!/dockerized-norlab-tools/dn_container_env_variable/README.md

# Docker secrets
**/secrets/*
*.secret


# ====General======================================================================================

# ....Jetbrains AI.................................................................................
/.junie/ai_ignored/scratch.md
/.junie/ai_artifact/

# ....Jetbrains....................................................................................
/.idea/
/.vagrant/
/scratches/

# ....Python related...............................................................................
**/.pytest_cache
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
**/*.out
**/*.log

# ....General......................................................................................
**/.DS_Store
