
# ====Dockerized-NorLab============================================================================

# ....Dev required.................................................................................
/utilities/tmp/dockerized-norlab-project-mock

# ....DNP common...................................................................................
**/.dockerized_norlab_project/dn_container_env_variable/
/dockerized-norlab-tools/dn_container_env_variable/
!/dockerized-norlab-tools/dn_container_env_variable/README.md


# ====General======================================================================================

# ....Jetbrains....................................................................................
/.idea/
/.vagrant/
/scratches/

# ....AI...........................................................................................
/.junie/scratch.md
/.junie/iceboxed_plans

# ....Python related...............................................................................
**/.pytest_cache
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
**/*.out
**/*.log

# ....General......................................................................................
**/.DS_Store

