/scratches/

# Mac
.DS_Store

# Jetbrains
.idea/*

# Files and directories
/dockerized-norlab-scripts/build_script/build_all.log
/dockerized-norlab-tools/dn_container_env_variable/*
!/dockerized-norlab-tools/dn_container_env_variable/README.md

/utilities/dockerized-norlab-project-mock
