##
## Doc
##  - Requirements File Format:  https://pip.pypa.io/en/stable/reference/requirements-file-format/
##  - Requirement Specifiers:  https://pip.pypa.io/en/stable/reference/requirement-specifiers/
##

# ====Deep Learning ===============================================================================================
## Doc:
##  - ray ›
##      rllib: https://docs.ray.io/en/latest/rllib/index.html
##      tune:  https://docs.ray.io/en/latest/tune/index.html
##      installation: https://docs.ray.io/en/latest/ray-overview/installation.html#
##  - tensordict › https://github.com/pytorch-labs/tensordict

ray
tensordict

# ====Visualization and MLops======================================================================================
## Doc:
##  - wandb (Weights & Biases) › The developer-first MLOps platform
##      www: https://wandb.ai, pypi: https://pypi.org/project/wandb/
##  - hydra-core:
##      www: https://hydra.cc

wandb
omegaconf
hydra-core
hydra-submitit-launcher

