#
# Doc
#  - Requirements File Format:  https://pip.pypa.io/en/stable/reference/requirements-file-format/
#  - Requirement Specifiers:  https://pip.pypa.io/en/stable/reference/requirement-specifiers/
#


# ====RL/Control library===========================================================================

# ....ray..........................................................................................
# Ref:
#  - rllib: https://docs.ray.io/en/latest/rllib/index.html
#  - tune:  https://docs.ray.io/en/latest/tune/index.html
#  - installation: https://docs.ray.io/en/latest/ray-overview/installation.html#
# ray[tune]
# ray[data,train,tune,serve,rllib]
ray[tune,serve,rllib]


# ....Model-based RL library (mbrl-lib)............................................................
# Ref:
#  - github: https://github.com/facebookresearch/mbrl-lib
#  - colab: https://colab.research.google.com/github/natolambert/mbrl-lib-dev/blob/main/notebooks/traj_based_model.ipynb
# mbrl
## alt version for mbrl
# -e git+https://github.com/facebookresearch/mbrl-lib.git#egg=mbrl
# mbrl @ https://github.com/RedLeader962/mbrl-lib/releases/tag/v0.2.0.pre_gymnasium.zip
# mbrl @ git+https://github.com/RedLeader962/mbrl-lib@F1TENTH-VAUL-pre-gymnasium


# ....pytorch-mppi.................................................................................
# Ref: https://github.com/UM-ARM-Lab/pytorch_mppi
#pytorch-mppi[tune]

# ....Stable-Baseline3 (SB3).......................................................................
# Ref: https://github.com/DLR-RM/stable-baselines3
#stable-baselines3
#opencv-python-headless


# ====Torch related================================================================================
# Torch related utilities
torchinfo

# TorchMetrics is a collection of 100+ PyTorch metrics implementations and an easy-to-use API to create custom metrics
# https://lightning.ai/docs/torchmetrics/stable/
torchmetrics

# ====Simulation===================================================================================
## deepmind control suite
# dm_control

## gym, atari games
# gym[atari]
# gym[accept-rom-license]
# pygame

# # ====Other======================================================================================

# mujoco
# gym[classic_control,box2d,mujoco_py]<0.21.0
# gym < 0.21.0
